<mat-card class="fullwidthcard">
  <span class="whitecolor"><strong>Punk #{{this.punk.id}}</strong></span>
  <img class="img-setting" [src]="getPunkPic()" (click)="openDialog()"/>
  <p class="whitecolor" *ngIf="this.punk.v1FloorPrice"><strong>BUY V1: {{this.punk.v1FloorPrice}}Ξ</strong></p>
  <p class="whitecolor" *ngIf="this.punk.currentAsk && this.punk.currentAsk.open === true"><strong>BUY V2: {{parseETH(this.punk.currentAsk.amount)}}Ξ</strong></p>
  <p class="whitecolor" *ngIf="this.punk.totalPrice"><strong>{{this.punk.totalPrice}}Ξ TOTAL</strong></p>
 <!-- <p class="whitecolor" *ngIf="this.punk.v1FloorPrice && this.punk.currentAsk && this.punk.currentAsk.open === true"><strong>Total: {{this.punk.v1FloorPrice + parseETH(this.punk.currentAsk.amount)}} ETH</strong></p> -->
</mat-card>
