.fullwidthcard {
    background-image: linear-gradient( #528598, #a79aff);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);

    margin: 10px;
  font-family: Montserrat,sans-serif !important;
}

.p {
  font-family: "Monaco";
}

.img-setting{
   object-fit: cover;
    min-width: 100px;
}
.rightfont {
  font-family: Montserrat,sans-serif !important;
  font-size: 30px;
}
