
<br>
<br>
<br>
<br>
<p class="rightfont2">Punk pairs are a perfect combination between the collection commonly known as the "Cryptopunks" and their originally claimed V1 Token Equivalent</p>
<br>
<p class="rightfont2">A Punk Pair is a OG V1 Token for a Cryptopunk is in the same wallet as it's V2 Cryptopunk doppelganger</p>
<br>
<p class="rightfont2">Punk pairs are the solution to the popular argument, is the original token more valuable or it's commonly traded counterpart?</p>
<br>
<br>
<p class="rightfont2" *ngIf="!loading">Ser there are currently <strong>{{punksList.length}}</strong> Punk Pairs. Browse them here:</p>
<br>


<p *ngIf="loading">Loading...</p>
<mat-grid-list [cols]="cols" class="fullwidth">
   <mat-grid-tile *ngFor="let punk of (getOrderList(punksList).
                         slice(lowValue,highValue))"
                         >
     <app-punk-tile class="fillbox" [punk]="punk"></app-punk-tile>

  </mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="punksList.length" pageSize=24
               (page)="getPaginatorData($event)" [pageSizeOptions]="[24, 80, 240]"
               showFirstLastButtons="false" class="fullwidth">
</mat-paginator>
