
<br>
<br>
<br>
<br>
<p class="rightfont2">Punk pairs are a perfect combination between the collection commonly known as the "Cryptopunks" and their originally claimed V1 Token Equivalent</p>
<br>
<p class="rightfont2">A Punk Pair is formed when an OG V1 Token for a Cryptopunk is in the same wallet as it's V2 Cryptopunk doppelganger</p>
<br>
<p class="rightfont2">Punk pairs are the solution to the popular argument, is the original token more valuable or it's commonly traded counterpart?</p>
<br>
<br>
<p class="rightfont2" *ngIf="!loading">Ser there are currently <strong>{{punksList.length}} Punk Pairs</strong>. Browse them here:</p>
<br>


<p *ngIf="loading">Loading...</p>
<mat-grid-list [cols]="cols" class="fullwidth">
   <mat-grid-tile *ngFor="let punk of (getOrderList(punksList).
                         slice(lowValue,highValue))"
                         >
     <app-punk-tile class="fillbox" [punk]="punk"></app-punk-tile>

  </mat-grid-tile>
</mat-grid-list>

<mat-paginator class = "paginator1" [length]="punksList.length" pageSize=24
               (page)="getPaginatorData($event)" [pageSizeOptions]="[24, 80, 240]"
               showFirstLastButtons="false" class="fullwidth">
</mat-paginator>
<br>
<br>
<h1 class="pinkback">Top Punk Pair Hodlers</h1>
<br>
<br>
<p class="rightfont2" *ngIf="!loading">There are currently <strong> {{getNumberOfOwners()}} Hodlers </strong> in total with Punk Pairs</p>
<br>

<mat-grid-list cols="{{cols >= 4 ? 2 : 1}}">
  <mat-grid-tile
      [colspan]="1">
      <div class="chart-wrapper" class="piewidth" *ngIf="!loading" >
     <canvas baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
      </canvas>
      </div>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1">
    <div class="example-container mat-elevation-z8">
     <mat-table [dataSource] = "myTableDataArray" *ngIf="myTableDataArray && myTableDataArray.length > 0">
        <mat-text-column name="Addresses"></mat-text-column>
        <mat-text-column name="NumberOfPunks"></mat-text-column>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </mat-table>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-card>

</mat-card>
