
<br>
<br>
<br>
<br>
<p class="rightfont2">Punk pairs are a perfect combination between the collection commonly known as the "Cryptopunks" and their originally claimed V1 Token Equivalent</p>
<br>
<p class="rightfont2">A Punk Pair is formed when an OG V1 Token for a Cryptopunk is in the same wallet as it's V2 Cryptopunk doppelganger</p>
<br>
<p class="rightfont2">Punk pairs are the solution to the popular argument, is the original token more valuable or it's commonly traded counterpart?</p>
<br>
<br>
<p class="rightfont2" *ngIf="!loading">Ser there are currently <strong>{{punksList.length}} Punk Pairs</strong>. Browse them here:</p>

<p *ngIf="loading">Loading...</p>
<mat-grid-list [cols]="cols" class="fullwidth">
   <mat-grid-tile *ngFor="let punk of (getOrderList(punksList).
                         slice(lowValue,highValue))"
                         >
     <app-punk-tile class="fillbox" [punk]="punk"></app-punk-tile>

  </mat-grid-tile>
</mat-grid-list>

<mat-paginator class = "paginator1" [length]="punksList.length" pageSize=24
               (page)="getPaginatorData($event)" [pageSizeOptions]="[24, 80, 240]"
               showFirstLastButtons="false" class="fullwidth">
</mat-paginator>
<br>
<br>
<h1 class="pinkback">Snipe Pairs For Sale</h1>
<mat-grid-list [cols]="cols" class="fullwidth">
  <mat-grid-tile *ngFor="let punk of (getOrderList(snipeList).
                         slice(lowValue,highValue))"
  >
    <app-punk-tile class="fillbox" [punk]="punk"></app-punk-tile>

  </mat-grid-tile>
</mat-grid-list>

<mat-paginator class = "paginator1" [length]="snipeList.length" pageSize=24
               (page)="getPaginatorData($event)" [pageSizeOptions]="[24, 80, 240]"
               showFirstLastButtons="false" class="fullwidth">
</mat-paginator>
<br>
<br>
<h1 class="pinkback">Top Punk Pair Hodlers</h1>
<br>
<br>
<p class="rightfont2" *ngIf="!loading">There are currently <strong> {{getNumberOfOwners()}} Hodlers </strong> in total with Punk Pairs</p>
<br>

<mat-grid-list cols="{{cols >= 4 ? 2 : 1}}">
  <mat-grid-tile
      [colspan]="1">
      <div class="chart-wrapper" class="piewidth" *ngIf="!loading" >
     <canvas baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
      </canvas>
      </div>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1">
    <div class="example-container mat-elevation-z8">
     <mat-table [dataSource] = "myTableDataArray" *ngIf="myTableDataArray && myTableDataArray.length > 0">
       <mat-text-column name="NumberOfPunks">#</mat-text-column>
        <mat-text-column name="Addresses"></mat-text-column>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row class="mat-cell-custom" *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </mat-table>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<br>
<br>
<h1 class="pinkback">Check your Cryptopunk</h1>
<br>
<br>
<!-- add loader here -->
<p class="rightfont2" *ngIf="!loading">Use the box below to check whether your Punk ID is a Punk Pair</p>
<br>
<br>
<mat-card class="punk-form">
<input [formControl]="punkFormControl" type="text" class="code {{punkFormControl.invalid && punkFormControl.dirty && 'invalid'}} search-field"
                   placeholder="XXXXXX" maxlength="6">
            <button class="search-button" mat-button [disabled]="punkFormControl.invalid" type="button"
                    (click)="callPunkQuery(punkFormControl.value)">
                Search punk
            </button>
            <br>
            <br>
            <br>
            <br>
            <p *ngIf="!validPunkOnForm">Punk is not a valid Cryptopunk Pair</p>
            <p *ngIf="validPunkOnForm">Punk token id #{{validPunkOnForm}} inputted is a valid token pair owned by {{getPunkOwner(validPunkOnForm)}}</p>
  </mat-card>

<mat-card>
  <p>{{this.v1Floor | json
    }}</p>
</mat-card>
<!--
<form class="punk-form">
  <mat-form-field class="punk-width mat-form-field-flex">
    <mat-label>Punk Id</mat-label>
    <input type="number" matInput [formControl]="punkFormControl"
           placeholder="0">
    <mat-error *ngIf="punkFormControl.hasError('pattern') || punkFormControl.hasError('minLength') || !punkFormControl.hasError('required')">
      Please enter a valid Punk Token ID
    </mat-error>
    <mat-error *ngIf="punkFormControl.hasError('required')">
      Token ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button class="mat-button">Check Punk ID</button>
</form>
-->
