.fullwidth {
  width:100%;
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  min-width: 200px;
  min-height: 100px;
}

.fillbox {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.rightfont2 {
  font-family: Montserrat,sans-serif !important;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 40px;
  text-align: center;
}

.spinnercolor {
  stroke: darkred;
}

::ng-deep .mat-select-value {
  font-size: 35px;
  font-family: Montserrat, sans-serif;
}

::ng-deep .mat-paginator-range-actions {
  font-size: 35px;
  font-family: Montserrat, sans-serif;
}

::ng-deep .mat-paginator-page-size-label {
  font-size: 35px;
  font-family: Montserrat, sans-serif;
}

::ng-deep .canvas {
  font-size: 35px;
  font-family: Montserrat, sans-serif;
}

::ng-deep .mat-option-text {
  font-size: 35px;
  font-family: Montserrat, sans-serif;
}

::ng-deep .mat-grid-tile {
  align-items: start !important;
  overflow: visible !important;
}
.pinkback {
  background-color: #ff04b4;
  font-family: Montserrat,sans-serif !important;
  font-size: 60px;
  line-height: 60px !important;
  padding: 30px;
  text-align: center;
  color: white
}

.piewidth{
  width: 100% !important;
  height: 100% !important;
}
.example-container {
  height: calc(100% - 40px);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

mat-table {
  width: 100%;
  overflow: auto;
  float: left;
}
::ng-deep tr.mat-row > td {
    font-size: 35px;
    line-height: 35px !important;
    padding:20px !important;
}

::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  font-size: 38px;
    background-color: #ff04b4;
  padding:20px !important;
  color: white;
}

.punk-form {
  width: 100%;
  text-align: center;
  font-size: 35px;
}

.search-button {
  min-width: 100px;
  font-size: 35px;
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  margin: 5px;
}
.mat-card {
  border: 2px solid rgba(255, 4, 180,.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  margin: 5px;
}
.search-field {
  font-size: 35px;
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  margin: 5px;
}

.punk-width {
  width: 100%;
  text-align: center;
}

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
