<mat-card class="fix-container">
  <div *ngFor="let pairevent of punkPairingEvents; let i=index" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <div fxFlex="25">
      <img class="img-setting" [src]="getPunkPic(pairevent.punkId)">
    </div>
    <div fxFlex="75">
      <p *ngIf="pairevent.wasPaired">Punk Pairing Event! 💪 <span ></span></p>
      <p *ngIf="!pairevent.wasPaired">Punk Un-Pairing Event 🤡</p>
      <p><strong>Punk #{{pairevent.punkId}}</strong></p>
      <p><strong>Timestamp at {{getTimestamp(pairevent.timestamp)}} <a target=”_blank” href="{{getTxHash(pairevent.txHash)}}">Etherscan</a></strong></p>
      <p *ngIf="pairevent.wasPaired">Punk Owner is {{getNickName(pairevent.pairOwner?.id)}}</p>
    </div>
  </div>
</mat-card>
